.label {
    -fx-font-family: "KillingFont";
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 13;
    -fx-font-weight: bold;
}

#steamCustomMapsCounter, #steamOfficialMapsCounter, #epicCustomMapsCounter, #epicOfficialMapsCounter {
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 11;
}

.circle .label {
    -fx-font-family: "KillingFont";
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 11;
}

.titled-pane > .title {
    -fx-font-family: "KillingFont";
    -fx-font-size: 13;
}

.titled-pane > .title > .text {
    -fx-text-fill: #ab0d0e;
    -fx-font-weight: bold;
}

.titled-pane .title .label {
    -fx-text-fill: #575757;
    -fx-font-weight: bold;
}

.titled-pane .title .menu-item .label {
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
}

.titled-pane .title .arrow-button {
    -fx-text-fill: #ab0d0e;
}

.titled-pane > .content {
    -fx-background-color: rgba(91, 91, 91, 0.7);
}

#exploreSteam, #exploreEpic {
    -fx-background-color: #e8e8e8;
    -fx-text-fill: #575757;
    -fx-background-radius: 25;
    -fx-min-width: 100px;
    -fx-min-height: 30px;
    -fx-max-width: 100px;
    -fx-max-height: 30px;
}

#installUpdateSteam, #installUpdateEpic {
    -fx-background-color: #57965c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 25;
    -fx-min-width: 150px;
    -fx-min-height: 30px;
    -fx-max-width: 150px;
    -fx-max-height: 30px;
}

.menu:hover, #menuHome:hover, .menu-item:hover .label, #menuWebAdmin:hover, #menuInstall:hover, #menuSetup:hover, #menuConsole:hover, #menuHelp:hover, #menuMaps:hover, #run:hover, #join:hover, #setupProfilesButton:hover, #setupLengths:hover, #setupMapsButton:hover, #setupGameTypesButton:hover, #setupDifficultiesButton:hover, #setupLengthsButton:hover, #exploreSteam:hover, #installUpdateSteam:hover, #exploreEpic:hover, #installUpdateEpic:hover {
    -fx-effect: dropshadow(three-pass-box, gold, 20, 0, 0, 0);
}

#menuHome:disabled, #menuWebAdmin:disabled, #menuInstall:disabled, #menuSetup:disabled, #menuConsole:disabled, #menuHelp:disabled, #menuMaps:disabled, #run:disabled, #join:disabled, #setupMapsButton:disabled, #setupGameTypesButton:disabled, #setupDifficultiesButton:disabled, #setupLengthsButton:disabled {
    -fx-effect: dropshadow(three-pass-box, red, 20, 0, 0, 0);
}

.split-pane-divider, .combo-box, .combo-box-popup .list-view .list-cell {
    -fx-background-color: #e8e8e8 ;
}

.titled-pane .button, .gridPane .button, .split-pane .button, .menu .button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#console .content {
    -fx-background-color: black;
}

.tooltip {
    -fx-background-color: #6657e6;
    -fx-font: 13px Arial;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-opacity:0.9;
}

.gridPane {
    -fx-background-color: rgba(91, 91, 91, 0.7);
    -fx-border-color: #e8e8e8;
    -fx-border-width:3px;
    -fx-border-radius: 10px;
}

.menu-bar, .menu {
    -fx-background-color: transparent;
}

.menu {
    -fx-padding: 0 -5 0 0
}

.menu-item {
    -fx-background-color: #575757;
    -fx-cursor: hand;
    -fx-text-fill: red;
}


.slider .track {
    -fx-control-inner-background: #575757;
}

.slider .thumb{
    -fx-background-color: #e8e8e8;
}

.slider .axis {
    -fx-tick-label-fill: #e8e8e8;
}

.table-view .label {
    -fx-text-fill: #575757;
}

.progress-indicator {
    -fx-progress-color: #c94f4f;
}

#mapVbox .label, #mapVbox .text-area, #mapVbox .check-box {
    -fx-font-family: "HeyComic";
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 12;
}

#mapVbox {
    -fx-border-color: #e8e8e8;
    -fx-border-width:3px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, #0d0d0d, 10, 0.3, 5, 5);
    -fx-padding: 5 5 5 5;
}

#mapVbox:hover {
    -fx-border-color: gold;
}

#mapVbox .label {
    -fx-font-weight: normal;
    -fx-alignment: center;
}

#mapVbox #mapImportedDate {
    -fx-padding: 0 0 10 0;
}

#mapName {
    -fx-padding: 0 0 5 0;
}

#mapName .text {
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

#mapVbox .text-area {
    -fx-background-color: transparent;
}

#mapVbox .text-area .content {
    -fx-background-color: #242323;
}

#selectedMap, #selectedMap .combo-box {
    -fx-background-color: transparent;
}

#selectedMap .combo-box-popup .list-view .list-cell {
    -fx-background-color: #575757;
    -fx-cursor: hand;
    -fx-alignment: center;
}

#selectedMap > .arrow-button > .arrow {
    -fx-background-color: #e8e8e8;
}

#mapVbox .button {
    -fx-effect: dropshadow(three-pass-box, #0d0d0d, 10, 0.3, 5, 5);
}

#mapVbox .button:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, gold, 20, 0, 0, 0);
}

.check-box {
    -fx-background-color: #575757;
    -fx-border-color: #e8e8e8;
    -fx-border-width:2px;
    -fx-padding: 3px;
    -fx-cursor: hand;
 }

.check-box:selected {
    -fx-background-color: gold;
}

.check-box:selected .mark {
    -fx-background-color: #575757;
    -fx-padding: 8px;
}

.check-box:selected .box {
    -fx-background-color: gold;
    -fx-padding: 2px;
}

.check-box .box {
    -fx-background-color: #575757;
    -fx-padding: 3px;
}

.scroll-bar:vertical {
    -fx-background-color: rgba(91, 91, 91, 0.7);
    -fx-border-color: transparent;
}

.tab-pane {
  -fx-tab-min-height:40px;
  -fx-tab-max-height:40px;
}

.tab {
    -fx-font-family: "KillingFont";
    -fx-text-base-color: #e8e8e8;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.tab:hover {
    -fx-effect: dropshadow(three-pass-box, gold, 20, 0, 0, 0);
    -fx-cursor: hand;
}

.tab-pane .tab:selected {
    -fx-background-color: #37603a;
    -fx-cursor: hand;
}

.table-view {
    -fx-background-color: #575757;
    -fx-opacity: 0.8;
}

.tab-pane .tab-content-area {
    -fx-background-color: rgba(91, 91, 91, 0.7);
}

.scroll-pane, .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent
}

.tab-pane .tab-content-area {
    -fx-border-color: #e8e8e8;
    -fx-border-width:3px;
    -fx-border-radius: 10px;
}

.tab-pane .tab {
    -fx-background-color: rgba(91, 91, 91, 0.7);
}

.hbox {
    -fx-border-color: #e8e8e8;
    -fx-border-width:3px;
    -fx-border-radius: 10px;
    -fx-padding: 10 10 10 10;
    -fx-background-color: rgba(91, 91, 91, 0.7);
}
