.label {
    -fx-font-family: "KillingFont";
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 13;
    -fx-font-weight: bold;
}

.titled-pane > .title {
    -fx-font-family: "KillingFont";
    -fx-font-size: 13;
}

.titled-pane > .title > .text {
    -fx-text-fill: #ab0d0e;
    -fx-font-weight: bold;
}

.titled-pane .title .arrow-button {
    -fx-text-fill: #ab0d0e;
}

.titled-pane > .content {
    -fx-background-color: rgba(91, 91, 91, 0.7);;
}


#menuHome:hover, #menuWebAdmin:hover, #menuInstall:hover, #menuConsole:hover, #menuHelp:hover, #menuMaps:hover, #run:hover, #join:hover, #setupMaps:hover, #setupGameTypes:hover, #setupDifficulties:hover, #setupLengths:hover {
    -fx-effect: dropshadow(three-pass-box, gold, 20, 0, 0, 0);
}

#menuHome:disabled, #menuWebAdmin:disabled, #menuInstall:disabled, #menuConsole:disabled, #menuHelp:disabled, #menuMaps:disabled, #run:disabled, #join:disabled, #setupMaps:disabled, #setupGameTypes:disabled, #setupDifficulties:disabled, #setupLengths:disabled {
    -fx-effect: dropshadow(three-pass-box, red, 20, 0, 0, 0);
}

.split-pane-divider, .combo-box, .combo-box-popup .list-view .list-cell {
    -fx-background-color: #e8e8e8 ;
}

.button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#console .content {
    -fx-background-color: black;
}

.tooltip {
    -fx-background-color: #6657e6;
    -fx-font: 13px Arial;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-opacity:0.9;
}